<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon [ngClass]="{true:'online', false:'offline'}[device.Active]">{{device.Icon}}</mat-icon>
    </div>
    <mat-card-title>{{device.Name}}</mat-card-title>
    <mat-card-subtitle>{{device.DHCPName}}</mat-card-subtitle>
    <div class="refresh-button">
      <button mat-icon-button  aria-label="refresh the status">
        <mat-icon>refresh</mat-icon>
      </button>
    </div>
  </mat-card-header>
  <mat-card-content>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="label">
        <th mat-header-cell *matHeaderCellDef>Label</th>
        <td mat-cell *matCellDef="let element"> {{element.label}} </td>
      </ng-container>

      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef>Value</th>
        <td mat-cell *matCellDef="let element"> {{element.value}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns" style="display: none;"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> -->

    </table>

  </mat-card-content>
</mat-card>
