.devices {
  display: flex;
  justify-content: center;
}

.online {
  color: #44bba4;
  margin-right: 0.5em;
}

.offline {
  color: #e94f37;
  margin-right: 0.5em;
}

.card {
  margin: 1em;
  flex-grow: 1;
}

.card:first-child {
  margin-right: 0;
}

.device-adress {
  color: lightgray;
  font-size: xx-small;
}
